<!DOCTYPE html>
<html>



  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar no-print" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>
        <h2 class="header-name_eng" itemprop="name">{{ site.resume_name_ENG }}</h2>

        <!-- Contact buttons don't work in print, configure in the _config.yml file, remove "print-only" to display always. -->
        <div class="header-contact-info" itemprop="contact-info">
          <p><a style="text-decoration:none;" href="https://goo.gl/maps/muKa9JajMEtkQS588" target="_blank">{{ site.resume_header_location }}</a> | <a style="text-decoration:none;" href="tel:{{ site.resume_header_phone}}">{{ site.resume_header_phone }} </a> | <a style="text-decoration:none;" href="mailto:{{ site.resume_contact_email }}">{{ site.resume_contact_email }}</a></p>
        </div>

        <div class="title-bar no-print">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary no-print" itemprop="description">
          <ul class="resume-item-list">
          <p>
            <li>A self-motivated computer vision and AI researcher who is fascinated by computer vision algorithms based on deep learning.</li>
            <li>I am currently pursuing the Master's degree in electrical and computer engineering at Ajou University, Suwon, Korea.</li>
            <li>I have participated in many research projects to develop <i>state-of-the-art</i> computer vision algorithms.</li>
            <li>My current research topic covers <b><i>Deep Learning</i></b>, <b><i>Computer Vision</i></b>, <b><i>Semantic Segmentation</i></b>, <b><i>Efficient CNN</i></b>.</li>
            <!-- <b><i>Model Confidence Calibration</i></b> -->
          </p>
          </ul>
          <!--<p>A self-motivated computer vision researcher</p>-->
          <!--<p>Current research topic covers </p>-->
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
          <a href="mailto:{{ site.resume_contact_email }}" class="contact-button no-print" itemprop="email">Contact me</a>


        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking no-print">Sorry, I am not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name"><a href="http://www.ajou.ac.kr/main/index.jsp">Ajou University (아주대학교) <img src = "images/icons8-south-korea-96.png"
         alt = "Suwon" width= "20px" height="20px"/></a></h3>
          <h4 class="resume-item-details" itemprop="description">Master of Electrical and Computer Engineering &bull; 2018 &mdash; 2020 (Expected) </h4>
           <!--<p class="resume-item-copy">Study Deep Learning and Computer Vision</p>-->
          <p class="resume-item-copy">Conducted research about deep learning based computer vision with my advisor <a href="https://sites.google.com/site/ajoumspl/professor"><b>Prof. Yong Seok Heo</b></a> in the <a href="https://sites.google.com/site/ajoumspl/home"><b>Multimedia Signal Processing Lab</b></a>.</p>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name"><a href="http://www.ajou.ac.kr/main/index.jsp">Ajou University (아주대학교) <img src = "images/icons8-south-korea-96.png"
         alt = "Suwon" width= "20px" height="20px"/></a></h3>
          <h4 class="resume-item-details" itemprop="description">Bachelor of Electrical and Computer Engineering &bull; 2012 &mdash; 2018</h4>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_publications %}
      <!-- begin Publications -->
      <section class="content-section">

        <header class="section-header">
          <h2>Publication</h2>
        </header>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name"> International <img src = "images/icons8-globe-50.png"
         alt = "Glabal" width= "20px" height="20px"/></h3>
          <ul class="resume-item-list">
            <li>
              <p class="resume-item-details">
                <i><a href="http://doi.org/10.1109/ACCESS.2019.2949076">Efficient Semantic Segmentation Using Spatio-Channel Dilated Convolutions</a></i>
                <br/>
                <b><u>Jaeseon Kim</u></b>, Yong Seok Heo
                <br/>
                <b>IEEE Access</b>, vol. 7, pp. 154239-154252, 2019. <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=8880554"><u>[pdf]</u></a>
                <br/>
                <details>
                  <summary><u>See more</u></summary>
                  <div markdown="1">
                    <!-- Slideshow container -->
                    <div class="slideshow-container">
                        <!-- Full-width images with number and caption text -->
                        <div class="myPaper1 fade first" >
                            <div class="numbertext">1 / 6</div>
                            <img src = "images/papers/ACCESS/figure1.png" style="width:100%">
                        </div>
                        <div class="myPaper1 fade" >
                            <div class="numbertext">2 / 6</div>
                            <img src = "images/papers/ACCESS/figure2.png" style="width:100%">
                        </div>
                        <div class="myPaper1 fade" >
                            <div class="numbertext">3 / 6</div>
                            <img src = "images/papers/ACCESS/figure3.png" style="width:100%">
                        </div>
                        <div class="myPaper1 fade" >
                            <div class="numbertext">4 / 6</div>
                            <img src = "images/papers/ACCESS/figure4.png" style="width:100%">
                        </div>
                        <div class="myPaper1 fade" >
                            <div class="numbertext">5 / 6</div>
                            <img src = "images/papers/ACCESS/figure5.png" style="width:100%">
                        </div>
                        <div class="myPaper1 fade" >
                            <div class="numbertext">6 / 6</div>
                            <img src = "images/papers/ACCESS/figure6.png" style="width:100%">
                        </div>
                        <!-- Next and previous buttons -->
                        <!--<a class="prev" onclick="plusPaper1Slides(-1)">&#10094;</a>-->
                        <!--<a class="next" onclick="plusPaper1Slides(1)">&#10095;</a>-->
                    </div>
                    <br>
                    <!-- The dots/circles -->
                    <div style="text-align:center">
                        <span class="dot myPaper1-dot" onclick="currentPaper1Slide(1)"></span>
                        <span class="dot myPaper1-dot" onclick="currentPaper1Slide(2)"></span>
                        <span class="dot myPaper1-dot" onclick="currentPaper1Slide(3)"></span>
                        <span class="dot myPaper1-dot" onclick="currentPaper1Slide(4)"></span>
                        <span class="dot myPaper1-dot" onclick="currentPaper1Slide(5)"></span>
                        <span class="dot myPaper1-dot" onclick="currentPaper1Slide(6)"></span>
                    </div>
                  </div>
                </details>
              </p>
            </li>
          </ul>
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name"> Domestic <img src = "images/icons8-south-korea-96.png"
         alt = "Suwon" width= "20px" height="20px"/></h3>
          <ul class="resume-item-list">
            <li>
              <p class="resume-item-details">
                <!-- <i>Accuracy Improvement of Semantic Segmentation Network Using Boundary Detection</i> -->
                <i>경계 검출을 이용한 의미론적 영역 분할 네트워크의 정확도 향상</i>
                <br/>
                <b><u>Jaeseon Kim</u></b>, Yong Seok Heo
                <br/>
                <b>Workshop on Image Processing and Image Understanding (IPIU)</b>, Jeju, 2020. <a href="images/papers/IPIU/JSK_IPIU_paper.pdf"><u>[pdf]</u></a>
                <br/>
                <details>
                  <summary><u>See more</u></summary>
                  <div markdown="1">
                    <!-- Slideshow container -->
                    <div class="slideshow-container">
                        <!-- Full-width images with number and caption text -->
                        <div class="myPaper2 fade first" >
                            <div class="numbertext">1 / 4</div>
                            <img src = "images/papers/IPIU/figure1.png" style="width:100%">
                        </div>
                        <div class="myPaper2 fade" >
                            <div class="numbertext">2 / 4</div>
                            <img src = "images/papers/IPIU/figure2.png" style="width:100%">
                        </div>
                        <div class="myPaper2 fade" >
                            <div class="numbertext">3 / 4</div>
                            <img src = "images/papers/IPIU/figure3.png" style="width:100%">
                        </div>
                        <div class="myPaper2 fade" >
                            <div class="numbertext">4 / 4</div>
                            <img src = "images/papers/IPIU/figure4.png" style="width:100%">
                        </div>
                        <!-- Next and previous buttons -->
                        <!--<a class="prev" onclick="plusPaper2Slides(-1)">&#10094;</a>-->
                        <!--<a class="next" onclick="plusPaper2Slides(1)">&#10095;</a>-->
                    </div>
                    <br>
                    <!-- The dots/circles -->
                    <div style="text-align:center">
                        <span class="dot myPaper2-dot" onclick="currentPaper2Slide(1)"></span>
                        <span class="dot myPaper2-dot" onclick="currentPaper2Slide(2)"></span>
                        <span class="dot myPaper2-dot" onclick="currentPaper2Slide(3)"></span>
                        <span class="dot myPaper2-dot" onclick="currentPaper2Slide(4)"></span>
                    </div>
                  </div>
                </details>
              </p>
            </li>

            <li>
              <p class="resume-item-details">
                <i><a href="https://www.dbpia.co.kr/journal/articleDetail?nodeId=NODE07615406&language=ko_KR">딥러닝을 이용한 위성 영상의 의미 정보 추출 기법 동향 분석</a></i>
                <br/>
                <b><u>Jaeseon Kim</u></b>, Yong Seok Heo
                <br/>
                <b>정보와 통신 열린강좌</b>, 35(2(별책8호)), 3-9, 2018. <a href="images/papers/KICS/JSK_KICS_paper.pdf"><u>[pdf]</u></a>
              </p>
            </li>
          </ul>
        </div>

      </section>
      <!-- end Publications -->
      {% endif %}



      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Research Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="https://www.nrf.re.kr/index">NRF <img src = "images/icons8-south-korea-96.png"
         alt = "Daejeon" width= "20px" height="20px"/></a></h3>
          <h4 class="resume-item-details">Semantic 3D Information Estimation Fusing Street-view Images and Aerial Images</h4>
          <h5 class="resume-item-details">Mar 2019 &mdash; present  </h5>
          <p class="resume-item-details">
            The project to develop an algorithm, which is to estimate precise semantic 3D information by merging different characteristics and information of the street side-view images and top-view images.
          </p>
          <p class="resume-item-details">
            <b>What I did : </b>
            <br/>
            <ul class="resume-item-list">
            <li>
              Developed an algorithm to extract semantic information from street side-view images using deep learning framework.
            </li>
            <li>
              Conducted research about accuracy improvement of semantic segmentation network using boundary detection. (Domestic paper)
            </li>
            <li>Python, PyTorch</li>

          <details>
            <summary><u>See more</u></summary>
            <div markdown="1">
              <!-- Slideshow container -->
              <div class="slideshow-container">
                  <!-- Full-width images with number and caption text -->
                  <div class="myProject1 fade first" >
                      <div class="numbertext">1 / 5</div>
                      <img src = "images/project_1/figure1.png" style="width:100%">
                  </div>
                  <div class="myProject1 fade" >
                      <div class="numbertext">2 / 5</div>
                      <img src="images/project_1/figure2.png" style="width:100%">
                  </div>
                  <div class="myProject1 fade">
                      <div class="numbertext">3 / 5</div>
                      <img src="images/project_1/figure3.png" style="width:100%">
                  </div>
                  <div class="myProject1 fade">
                      <div class="numbertext">4 / 5</div>
                      <img src="images/project_1/figure4.png" style="width:100%">
                  </div>
                  <div class="myProject1 fade">
                      <div class="numbertext">5 / 5</div>
                      <img src="images/project_1/figure5.png" style="width:100%">
                  </div>
                  <!-- Next and previous buttons -->
                  <!--<a class="prev" onclick="plusProject1Slides(-1)">&#10094;</a>-->
                  <!--<a class="next" onclick="plusProject1Slides(1)">&#10095;</a>-->
              </div>
              <br>
              <!-- The dots/circles -->
              <div style="text-align:center">
                  <span class="dot myProject1-dot" onclick="currentProject1Slide(1)"></span>
                  <span class="dot myProject1-dot" onclick="currentProject1Slide(2)"></span>
                  <span class="dot myProject1-dot" onclick="currentProject1Slide(3)"></span>
                  <span class="dot myProject1-dot" onclick="currentProject1Slide(4)"></span>
                  <span class="dot myProject1-dot" onclick="currentProject1Slide(5)"></span>
              </div>
            </div>
          </details>

        </ul>
          </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="https://www.iitp.kr/main.it">IITP <img src = "images/icons8-south-korea-96.png"
         alt = "Daejeon" width= "20px" height="20px"/></a></h3>
          <h4 class="resume-item-details">Development of Satellite Information Processing and Convergence Application Service</h4>
          <h5 class="resume-item-details">Jun 2018 &mdash; present  </h5>
          <p class="resume-item-details">
            The project involving various universities, research institutes and companies to develop ICT element technology for customized satellite information convergence services.
          </p>
          <p class="resume-item-details">
            <b>What I did : </b>
            <ul class="resume-item-list">
            <li>
              Developed the deep learning based feature extraction technique considering the characteristics of satellite images.
            </li>
            <li>
              Conducted a study on the feature extraction techniques of satellite images, which have many crowded small object instances.
            </li>
            <li>
              Conducted survey and analysis of deep learning based techniques for extracting semantic information from satellite images. (Domestic paper)
            </li>
            <li>
              Proposed an efficient network for semantic segmentation. (IEEE Access paper)
            </li>
            <li>Python, PyTorch</li>

            <details>
            <summary><u>See more</u></summary>
            <div markdown="1">
              <!-- Slideshow container -->
              <div class="slideshow-container">
                  <!-- Full-width images with number and caption text -->
                  <div class="myProject2 fade first" >
                      <div class="numbertext">1 / 4</div>
                      <img src = "images/project_2/figure1.png" style="width:100%">
                  </div>
                  <div class="myProject2 fade" >
                      <div class="numbertext">2 / 4</div>
                      <img src="images/project_2/figure2.png" style="width:100%">
                  </div>
                  <div class="myProject2 fade first" >
                      <div class="numbertext">3 / 4</div>
                      <img src = "images/project_2/figure3.png" style="width:100%">
                  </div>
                  <div class="myProject2 fade" >
                      <div class="numbertext">4 / 4</div>
                      <img src="images/project_2/figure4.png" style="width:100%">
                  </div>
                  <!-- Next and previous buttons -->
                  <!--<a class="prev" onclick="plusProject2Slides(-1)">&#10094;</a>-->
                  <!--<a class="next" onclick="plusProject2Slides(1)">&#10095;</a>-->
              </div>
              <br>
              <!-- The dots/circles -->
              <div style="text-align:center">
                  <span class="dot myProject2-dot" onclick="currentProject2Slide(1)"></span>
                  <span class="dot myProject2-dot" onclick="currentProject2Slide(2)"></span>
                  <span class="dot myProject2-dot" onclick="currentProject2Slide(3)"></span>
                  <span class="dot myProject2-dot" onclick="currentProject2Slide(4)"></span>
              </div>
            </div>
          </details>
          </ul>
          </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="https://www.samsung.com/sec/">Samsung Electronics <img src = "images/icons8-south-korea-96.png"
         alt = "Suwon" width= "20px" height="20px"/></a></h3>
          <h4 class="resume-item-details">Development of precise semantic map extraction engine based on deep learning</h4>
          <h5 class="resume-item-details">May 2018 &mdash; Aug 2019  </h5>
          <p class="resume-item-details">
            The project to develop an algorithm, which is to find 3D location information of trees in a top-view image.
          </p>
          <p class="resume-item-details">
            <b>What I did : </b>
            <ul class="resume-item-list">
            <li>
              Designed an efficient deep learning network for semantic segmentation in top-view images and street side-view images.
            </li>
            <li>
              Implemented the semantic segmentation network, which detects building, tree in top-view images and street side-view images, using deep learning framework.
            </li>
            <li>
              Proposed an efficient network for semantic segmentation in street scenes. (IEEE Access paper)
            </li>
            <li>Python, PyTorch</li>

            <details>
            <summary><u>See more</u></summary>
            <div markdown="1">
              <!-- Slideshow container -->
              <div class="slideshow-container">
                  <!-- Full-width images with number and caption text -->
                  <div class="myProject3 fade first" >
                      <div class="numbertext">1 / 4</div>
                      <img src = "images/project_3/figure1.png" style="width:100%">
                  </div>
                  <div class="myProject3 fade" >
                      <div class="numbertext">2 / 4</div>
                      <img src="images/project_3/figure2.png" style="width:100%">
                  </div>
                  <div class="myProject3 fade">
                      <div class="numbertext">3 / 4</div>
                      <img src="images/project_3/figure3.png" style="width:100%">
                  </div>
                  <div class="myProject3 fade">
                      <div class="numbertext">4 / 4</div>
                      <img src="images/project_3/figure4.png" style="width:100%">
                  </div>
                  <!-- Next and previous buttons -->
                  <!--<a class="prev" onclick="plusProject3Slides(-1)">&#10094;</a>-->
                  <!--<a class="next" onclick="plusProject3Slides(1)">&#10095;</a>-->
              </div>
              <br>
              <!-- The dots/circles -->
              <div style="text-align:center">
                  <span class="dot myProject3-dot" onclick="currentProject3Slide(1)"></span>
                  <span class="dot myProject3-dot" onclick="currentProject3Slide(2)"></span>
                  <span class="dot myProject3-dot" onclick="currentProject3Slide(3)"></span>
                  <span class="dot myProject3-dot" onclick="currentProject3Slide(4)"></span>
              </div>
            </div>
          </details>

          </ul>
          </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="https://www.mobis.co.kr/main/index.do">Hyundai Mobis <img src = "images/icons8-south-korea-96.png"
         alt = "Seoul" width= "20px" height="20px"/></a></h3>
          <h4 class="resume-item-details">Development of ISP Algorithm for Recognition Camera</h4>
          <h5 class="resume-item-details">May 2018 &mdash; Dec 2018  </h5>
          <p class="resume-item-details">
            The project to develop an ISP algorithm for securing ISP technology.
          </p>
          <p class="resume-item-details">
            <b>What I did : </b>
            <ul class="resume-item-list">
            <li>
              Implemented the deep learning based algorithm to demosaic raw image from RCCB CFA(color filter array) image sensor.
            </li>
            <li>
              Developed a demosaic network using deep learning framework to reconstruct a full color image from the incomplete color samples from an image sensor with RCCB CFA.
            </li>
            <li>Python, TensorFlow</li>
            <details>
            <summary><u>See more</u></summary>
            <div markdown="1">
              <!-- Slideshow container -->
              <div class="slideshow-container">
                  <!-- Full-width images with number and caption text -->
                  <div class="myProject4 fade first" >
                      <div class="numbertext">1 / 4</div>
                      <img src = "images/project_4/figure1.png" style="width:100%">
                  </div>
                  <div class="myProject4 fade" >
                      <div class="numbertext">2 / 4</div>
                      <img src="images/project_4/figure2.png" style="width:100%">
                  </div>
                  <div class="myProject4 fade" >
                      <div class="numbertext">3 / 4</div>
                      <img src="images/project_4/figure3.png" style="width:100%">
                  </div>
                  <div class="myProject4 fade" >
                      <div class="numbertext">4 / 4</div>
                      <img src="images/project_4/figure4.png" style="width:90%">
                  </div>
                  <!-- Next and previous buttons -->
                  <!--<a class="prev" onclick="plusProject4Slides(-1)">&#10094;</a>-->
                  <!--<a class="next" onclick="plusProject4Slides(1)">&#10095;</a>-->
              </div>
              <br>
              <!-- The dots/circles -->
              <div style="text-align:center">
                  <span class="dot myProject4-dot" onclick="currentProject4Slide(1)"></span>
                  <span class="dot myProject4-dot" onclick="currentProject4Slide(2)"></span>
                  <span class="dot myProject4-dot" onclick="currentProject4Slide(3)"></span>
                  <span class="dot myProject4-dot" onclick="currentProject4Slide(4)"></span>
              </div>
            </div>
          </details>
          </ul>
          </p>
        </div>


      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_teaching_experience %}
      <!-- begin Teaching Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Teaching Experience</h2>
        </header>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name"><a href="https://research.samsung.com">Samsung Electronics <img src = "images/icons8-south-korea-96.png"
         alt = "Suwon" width= "20px" height="20px"/></a></h3>
          <h4 class="resume-item-details">AI Academy SR</h4>
          <h5 class="resume-item-details">Teaching Assistant &bull; Jan 2020  </h5>
          <!--<p class="resume-item-details">Teaching Assistant &bull; Jan 2020</p>-->
          <ul class="resume-item-list">
            <li>Assisted professor with helping Samsung researchers learn deep learning based semantic segmentation. </li>
            <li>Python, PyTorch, Linux</li>
          </ul>
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name"><a href="http://www.ajou.ac.kr/main/index.jsp">Ajou University <img src = "images/icons8-south-korea-96.png"
         alt = "Suwon" width= "20px" height="20px"/></a></h3>
          <h4 class="resume-item-details">Data Structure and Algorithm Lecture</h4>
          <h5 class="resume-item-details">Teaching Assistant &bull; Sep 2018 - Dec 2018  </h5>
          <!--<p class="resume-item-details">Teaching Assistant &bull; Sep 2018 - Dec 2018</p>-->
          <ul class="resume-item-list">
            <li>Assisted professor with helping students learn data structure and algorithm. </li>
            <li>C, Visual Studio</li>
          </ul>
        </div>

      </section>
      <!-- end Teaching Experience -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Programming Languages (ordered by fluency)</h4>
          <p class="resume-item-copy">Python, C/C++, MATLAB, Java</p>
        </div>


        <div class="resume-item">
          <h4 class="resume-item-details">Frameworks and Libraries</h4>
          <p class="resume-item-copy">PyTorch, TensorFlow, NumPy, OpenCV</p>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Honors & Awards</h2>
        </header>
          <div class="resume-item">
          <h3 class="resume-item-title" itemprop="name"><a href="http://www.hyundai-cmkfoundation.org/com/esScholarship.do">Hyundai Motor Chung Mong-Koo Foundation <img src = "images/icons8-south-korea-96.png"
         alt = "Seoul" width= "20px" height="20px"/></a></h3>
          <h4 class="resume-item-details" itemprop="award"> Global Leader Award &bull; Dec 2019 </h4>
          <p class="resume-item-copy"> Given to scholarship students who achieved outstanding achievements in the world by Hyundai Motor Chung Mong-Koo Foundation.
              <a href="https://www.mk.co.kr/news/business/view/2019/12/1099692/"><u>[article]</u></a>
          </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="name"><a href="http://www.hyundai-cmkfoundation.org/com/esScholarship.do">Hyundai Motor Chung Mong-Koo Foundation <img src = "images/icons8-south-korea-96.png"
         alt = "Seoul" width= "20px" height="20px"/></a></h3>
          <h4 class="resume-item-details"> Scholarship Program &bull; Jul 2019 - present</h4>
          <p class="resume-item-copy">Funded to outstanding graduate students majoring in science and engineering by Hyundai Motor Chung Mong-Koo Foundation.</p>
        </div>


      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Certifications</h2>
        </header>
      </section>
      <!-- end Associations -->
      {% endif %}

       {% if site.resume_section_online_coursework %}
      <!-- begin Education -->
      <section class="content-section">

        </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

      </section>
      <!-- end Links -->
      {% endif %}

      {% if site.resume_print_social_links %}
      <!-- begin Print Social Links -->
      <section class="content-section print-only">

        <header class="section-header">
          <h2>Social Links</h2>
        </header>

        <div class="resume-item">
        {% include print-social-links.html %}
        </div>

      </section>
      <!-- end Print Social Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line"><a href="images/resume.pdf"></a></p>
      </footer>

    </div>
  {% if jekyll.environment == 'production' %}
  {% include analytics.html %}
  {% endif %}
  </body>

</html>
